<div class="position-container">
<ul>
<% @positions.each do |p| %>
  
    <% message = "#{p.title}: #{p.location}" %>
    <li><%= link_to message, position_path(p) %></li><br>
  
<% end %>
</ul>

</div>