<%# link to position as well%>
<p>
  <%= link_to @application.candidate.name, candidate_path(@application.candidate) %>
   is applying to 
   <%= link_to @application.position.title, position_path(@application.position) %>
</p>
<p>Application status: <%= @application.submitted ? "Submitted" : "Not Submitted"%></p>