<%# link to position as well%>
<p><%= link_to @application.candidate.name, candidate_path(@application.candidate) %> is applying to <%= @application.position.title %></p>
<p>Application status: <%= @application.submitted ? "Submitted" : "Not Submitted"%></p>