<%# link to position as well%>
<p>
  <%= link_to @application.candidate.name, candidate_path(@application.candidate) %>
   is applying to 
   <%= link_to @application.position.title, position_path(@application.position) %>
</p>
<div class="candidate-subheader"><h2>Application Status</h2></div>
<% if @application.submitted %>
<p>Submitted</p>
<% else %>
<p>Not Submitted</p>
<%= button_to "Application Completed", {controller: :applications, action: 'update', id: @application.id}, method: :put %>
<% end %>