<div class="index-tile">
    <h1>Companies list</h1>
</div>
<div class="index-container">
    <% @companies.each do |company| %>
        <div class="index-tile">
            <img class="index-img" src="<%= company.company_logo %>" alt="company logo">
            <h4><%= link_to company.name, company_path(company) %></h4>
        </div>
    <% end %>
</div>
