<h4>Company Info</h4>

<% if @company.url %>
    <p><a href="#{@company.url}"><%= @company.name %></a></p>
<% else %>
    <p><%= @company.name %></p>
<% end %>
<p>Logo:</p>
<img src="#{@company.company_logo}" alt="Company logo">

<% if !@company.positions.empty? %>
    <p><strong>Positions: </strong></p>
    <% @company.positions.each do |p| %>
        <ul>
            <li><%= link_to p.title, position_path(p) %>
        </ul>
    <% end %>
<% end %>

<%= link_to 'Back to list', companies_path %>

